# Backup files
*~

# yii console command
/yii

# phpstorm project files
.idea
#Private Net Beans Project properties
/nbproject/private/

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
